@import "../../configStyle/index.scss";

.hambergerMenu {
  display: none;
}
@include media(M) {
  .hambergerMenu {
    display: flex;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    color: #733DD8;
  }
}
.items {
  display: flex;
  align-items: center;
}
.item {
  list-style: none;
  padding: 0 5px;
  &:hover {
    transition: 0.5s ease-in;
    // .subMenu {
    //   display: block;
    // }
  }
  .link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $color-dark;
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    transition: all 0.2s linear;
    position: relative;
    &:hover {
      background-color: $color-primary;
      color: $color-light;
      border-radius: 5px;
      height: 100%;
    }
  }
 
}
