@import "../../configStyle/index.scss";
.navigationMobile {
  display: none;
}
@include media(M) {
  .hambergerMenu {
    display: flex;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    color: #733dd8;
  }
}
