@import "../../configStyle/index.scss";
.navigationMobile {
  display: none;
}
@include media(M) {
  .navigationMobile {
    display: flex;
   
    .hamberger {
      color: #733dd8;
      position: absolute;
      right: 5%;
      top: 25%;
    }
  }
}
