@import "../../configStyle/index.scss";

.boxLeft {
  display: flex;
  align-items: center;

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    .loginText {
      @include textStyle(1rem, bold, $color-primary);
      cursor: pointer;
    }
    .iconLogin {
      display: flex;
      @include textStyle(1.5rem, bold, $color-primary);
      margin-left: 10px;
      padding: 1rem;
      &:hover {
        border-radius: 50%;
        background-color: $color-secondary;
      }
    }
  }
  .cart {
    margin-top: 9px;
    position: relative;
    .iconCart {
      display: flex;
      @include textStyle(1.5rem, bold, $color-primary);
      margin-left: 10px;
      padding: 1rem;
      &:hover {
        border-radius: 50%;
        background-color: $color-secondary;
      }
    }

    .badge {
      @include box(20px, 20px, 100%, red, 0);
      @include textStyle(0.8rem, bold, $color-light);
      position: absolute;
      top: 1px;
      left: 14px;
      text-align: center;
    }
  }
}
