@font-face {
  font-family: "IRANSans";
  src: url("../font/IRANSans.eot");
  src: url("../font/IRANSans.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans.woff2") format("woff2"),
    url("../font/IRANSans.woff") format("woff"),
    url("../font/IRANSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
