@mixin overal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IRANSans";
  overflow: hidden;
}
@mixin box($width, $height, $radius, $bg-color,$padding) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bg-color;
  padding: $padding;
 
}
@mixin textStyle($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin bodyStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
}
@mixin boxPrices {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin media($size) {
  @if ($size==M) {
    @media (max-width: 768px) {
      @content;
    }
  } @else if($size==L) {
    @media (min-width: 768px) and (max-width: 1200px) {
      @content;
    }
  }
}
