@import "../../configStyle/index.scss";

.honors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  padding: 0 8rem;
}
.honorsTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.expreience {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    @include box(250px, 100px, 10px, $color-light, 10px);

    h3 {
      color: $color-secondary;
    }
  }
}
@include media(M) {
  .honors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    padding: 0;
    .honorsTitle {
      font-size: 0.7rem;
    }
    .expreience {
      margin-top: 10px;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

@include media(L) {
  .honors {
    padding: 0;
  }
  .honorsTitle {
    width: unset;
  }
  .expreience {
    margin-top: 10px;

    div {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      height: 160px;
    }
  }
}
