@import "../../configStyle/index.scss";

.header {
  @include box(100%, 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  padding: 0.8rem 8rem;
  background-color: $color-light;
}
