@import "../../configStyle/index.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
@include media(M) {
  .main {
    margin: 0;
  }
}
