@import "../../configStyle/index.scss";

.socialApp {
  margin-top: 20px;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li {
    list-style: none;
    svg {
      width: 26px;
      height: 26px;
    }
  }
}
@include media(M) {
  .socialApp {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
