@import "../../configStyle/index.scss";

.discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .input {
    outline: none;
    border-radius: 5px;
    width: 100%;
    border: 2px solid $color-primary;
    margin-left: 10px;
    padding: 5px;
  }
  .button {
    width: 100%;
  }
}
