@import "../../configStyle/index.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include box(100%, 60px, 0, $color-light, 0.8rem 8rem);
  position: fixed;
  top: 0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  z-index: 999;
}
@include media(M) {
  .header {
    @include box(100%, 60px, 0, $color-light, 0.5rem);
    z-index: 999;
  }
}
@include media(L) {
  .header {
    @include box(100%, 60px, 0, $color-light, 0.5rem);
    z-index: 999;
  }
}