@import "../../configStyle/index.scss";

.footerRight {
  display: flex;
  flex-direction: column;
  position: relative;
  color: $color-text;
  // width: 70px;
  p {
    text-align: justify;
    color: initial;
  }
  h3 {
    color: $color-primary;
    font-weight: bold;
  }
  .summeryPerson {
    a {
      text-decoration: none;
      color: $color-text;
    }
  }
}

@include media(M) {
  .footerRight {
    display: flex;
    flex-direction: column;
    width: unset;
    h3 {
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .summeryPerson {
    position: unset !important;
    top: unset !important;
    right: unset !important;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: $color-text;
    }
  }
}
