@import "../../configStyle/index.scss";

.items {
  display: flex;
  align-items: center;
}
@include media(M) {
  .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color:white;
    border-top:1px solid  $color-primary;

  }
}
.item {
  list-style: none;
  padding: 0 5px;
  &:hover {
    transition: 0.5s ease-in;
  }
  .link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $color-dark;
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    transition: all 0.2s linear;
    position: relative;
    &:hover {
      background-color: $color-primary;
      color: $color-light;
      border-radius: 5px;
      height: 100%;
    }
  }
}
