@import "../../configStyle/index.scss";

.order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: $color-light;
  padding: 1rem;

  .titles {
    @include boxPrices;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }
  .desc {
    @include boxPrices;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .total {
    @include boxPrices;
    font-weight: bold;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    width: 100%;
  }
  .button {
    margin-top: 20px;
  }

  .discount {
    color: $color-primary;
    margin-top: 10px;
    cursor: pointer;
  }
}
