@import "../../configStyle/index.scss";
.headerRight {
  display: flex;
  align-items: center;

  .navigationMobile {
    display: none;
  }
}
.logo {
  height: 25px;
  margin-left: 30px;
}
@include media(M) {
  .headerRight {
    .logo {
      display: inline-block;
      position: absolute;
      right: 20%;
      top: 25%;
      height:30px;
    }
  }
}
