@import "../../configStyle/index.scss";
.headerRight {
  display: flex;
  align-items: center;
}
.logo {
  height: 25px;
  margin-left: 30px;
}

@include media(M) {
  .logo {
    margin-left: 0;
  }
}

//////subMenu
@import "../../configStyle/index.scss";
.subMenu {
  display: none;
  position: absolute;
  top: 42px;
  width: 120px;
  background-color: lighten($color-primary, 20);
  border-radius: 5px;
}
.itemsSubMenu {
  list-style: none;
}
.itemSubMenu {
  display: flex;
  flex-direction: column;
  z-index: 2;
  text-align: center;
}
.linkSubMenu {
  color: $color-light;
  padding: 5px;
  transition: 0.3s ease-in;
  &:hover {
    width: 100%;
    background-color: $color-light;
    color: $color-dark;
  }
}
